@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@keyframes gradientFlash {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-fill-text {
  background: linear-gradient(270deg, #4adede, #3cb0d8, #4adede);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlash 4s ease infinite;
}

/* Hide scrollbars but allow scrolling */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

